#forfeitBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #b33a3a;
  background-color: #fdf6e3;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  gap: 12px;
  text-align: center;
  font-weight: bold;
  color: #2d2414;
}

#forfeitBox p {
  margin: 0;
  font-size: 16px;
}

#forfeitBox button {
  background: #f4f4f4;
  border: 2px solid #b33a3a;
  color: #b33a3a;
  font-weight: bold;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 0 #911e1e;
  margin: 0 4px;
}

#forfeitBox button:hover {
  background: #e7f9ff;
}
