#infoBox {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid #0d7ea1;
  background-color: #fdf6e3;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  gap: 16px;
}

#infoBox .column {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

#infoBox .column div {
  font-size: 14px;
  color: #2d2414;
}

#infoBox div {
  margin: 6px 0;
  font-size: 14px;
  color: #2d2414;
}

#infoBox button {
  align-self: flex-end;
  background: #f4f4f4;
  border: 2px solid #b33a3a;
  color: #b33a3a;
  font-weight: bold;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 0 #911e1e;
}

#infoBox button:hover {
  background: #e7f9ff;
}

#modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
