.pokemonInfoBox {
  border: black 1px solid;
  width: 45%;
  background-color: #d6c48d;
}

.pokemonInfoBox h3 {
  margin: 5px;
  margin-left: 10px;
  font-size: 1.5rem;
  padding-left: 0;
  display: block;
}

#health-bar-container {
  width: 300px;
  height: 20px;
  background-color: #ccc;
  border: 1px solid #333;
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}

#health-bar {
  height: 100%;
  width: 100%;
  background-color: green;
  transition: width 0.3s ease-in-out;
}

#health {
  display: inline-block;
  font-size: 1.2rem;
  margin: 10px 15px;
}

#level {
  margin: 5px;
  right: 33px;
  top: 7px;
  position: absolute;
}

#statusImg {
  width: 100px;
  top: 6px;
  left: 210px;
  position: absolute;
}
